<div class="wrapper" >
    <div class="body">
        <div class="picture">
            <img [src]="url" alt=""> 
            <p *ngIf="state; else nstate" style="color: green;">Online</p>
            <ng-template #nstate>
                <p style="color: red;">Ofline</p>
            </ng-template>
        </div>
        <div  class="user-data">
            <h2>{{name}}</h2>
            <div class="post-text">{{status}}</div>
        </div>
    </div>
    <button  class="network" (click)= "state= !state">{{state ? "Online" : "Ofline" }} </button>
</div>